#nom {
  margin: 20px;
  width: 300px;
  height: 90px;
  color: red;
  background-color: blue;
  overflow: auto;
  border: 1px solid black;
}

#ingredient {
  margin: 20px;
  width: 300px;
  height: 90px;
  border: 1px solid black;
  color: black;
  background-color: maroon;
  overflow: auto;
}
#pays {
  margin: 20px;
  width: 300px;
  height: 90px;
  border: 1px solid black;
  color: white;
  background-color: black;
  overflow: auto;
}
#marque {
  margin: 20px;
  width: 300px;
  height: 90px;
  border: 1px solid black;
  color: green;
  background-color: wheat;
  overflow: auto;
}
#emballage {
  margin: 20px;
  width: 300px;
  height: 90px;
  border: 1px solid black;
  color: black;
  background-color: yellow;
  overflow: auto;
}

#cadre {
  background-color: aqua;
  width: 600px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 50px;
  overflow: auto;
}

#bouton {
  margin: 20px;
}

@media screen and (max-width: 600px) {
  #cadre {
    width: 90%;
    height: 90%;
  }
}
